[Desktop Entry]
Type=Application
Name=Control Panel
Comment=Find and manage AnduinOS system settings
Exec=anduinos-control-panel
Icon=com.anduinos.ControlPanel
Terminal=false
StartupNotify=true
StartupWMClass=com.anduinos.ControlPanel
Categories=Settings;System;
Keywords=settings;control;system;hardware;drivers;accounts;backup;
DBusActivatable=false
