[Unit]
Description=Periodically maintain AnduinOS recovery points
Documentation=file:/usr/share/doc/anduinos-timeback-machine/TM5-DESIGN.md

[Timer]
OnCalendar=*-*-* 00/6:00:00
RandomizedDelaySec=15min
AccuracySec=5min
Persistent=true
Unit=anduinos-timeback-maintenance.service

[Install]
WantedBy=timers.target
