[Desktop Entry]
Name[ar]=آندوين أو إس آلة الرجوع بالزمن
Name[da]=AnduinOS Tidsmaskine
Name[de]=AnduinOS Zeitmaschine
Name[el]=Μηχανή Χρόνου AnduinOS
Name[es]=Máquina del tiempo de AnduinOS
Name[fi]=AnduinOS:n aikakone
Name[fr]=Machine à remonter le temps AnduinOS
Name[hi]=AnduinOS टाइमबैक मशीन
Name[id]=Mesin Waktu Kembali AnduinOS
Name[it]=Macchina del tempo di AnduinOS
Name[ja]=AnduinOS タイムバックマシーン
Name[ko]=AnduinOS 타임백 머신
Name[nl]=AnduinOS Timeback-machine
Name[pl]=Maszyna czasu AnduinOS
Name[pt]=AnduinOS Máquina do Tempo
Name[pt_BR]=Máquina do Tempo AnduinOS
Name[ro]=Mașina temporală AnduinOS
Name[ru]=Машина времени AnduinOS
Name[sv]=AnduinOS tidsmaskin
Name[th]=AnduinOS เครื่องย้อนเวลา
Name[tr]=AnduinOS Zaman Makinesi
Name[uk]=Машина часу AnduinOS
Name[vi]=Máy thời gian AnduinOS
Name[zh_HK]=AnduinOS 時光機
Name[zh_TW]=AnduinOS 時光回溯機
Name[en_GB]=AnduinOS Timeback Machine
Name[en_US]=AnduinOS Timeback Machine
Name=AnduinOS Timeback Machine
Name[zh_CN]=AnduinOS 时光恢复机
GenericName[ar]=استعادة النظام
GenericName[da]=Systemgendannelse
GenericName[de]=Systemwiederherstellung
GenericName[el]=Ανάκτηση συστήματος
GenericName[es]=Recuperación del sistema
GenericName[fi]=Järjestelmän palautus
GenericName[fr]=Récupération du système
GenericName[hi]=सिस्टम रिकवरी
GenericName[id]=Pemulihan Sistem
GenericName[it]=Ripristino di sistema
GenericName[ja]=システム復元
GenericName[ko]=시스템 복구
GenericName[nl]=Systeemherstel
GenericName[pl]=Odzyskiwanie systemu
GenericName[pt]=Recuperação do sistema
GenericName[pt_BR]=Recuperação do Sistema
GenericName[ro]=Recuperarea sistemului
GenericName[ru]=Восстановление системы
GenericName[sv]=Systemåterställning
GenericName[th]=การกู้คืนระบบ
GenericName[tr]=Sistem Kurtarma
GenericName[uk]=Відновлення системи
GenericName[vi]=Khôi phục hệ thống
GenericName[zh_HK]=系統復原
GenericName[zh_TW]=系統還原
GenericName[en_GB]=System Recovery
GenericName[en_US]=System Recovery
GenericName=System Recovery
GenericName[zh_CN]=系统恢复
Comment[ar]=إنشاء نقاط استعادة وإرجاع AnduinOS بأمان إلى حالة سابقة
Comment[da]=Opret gendannelsespunkter og bring AnduinOS sikkert tilbage til en tidligere tilstand
Comment[de]=Wiederherstellungspunkte erstellen und AnduinOS sicher in einen früheren Zustand zurückversetzen
Comment[el]=Δημιουργήστε σημεία ανάκτησης και επαναφέρετε με ασφάλεια το AnduinOS σε μια προηγούμενη κατάσταση
Comment[es]=Crear puntos de recuperación y restaurar AnduinOS de forma segura a un estado anterior
Comment[fi]=Luo palautuspisteitä ja palauta AnduinOS turvallisesti aiempaan tilaan
Comment[fr]=Créer des points de restauration et rétablir AnduinOS en toute sécurité à un état antérieur
Comment[hi]=रिकवरी पॉइंट बनाएं और सुरक्षित रूप से AnduinOS को एक पूर्व अवस्था में वापस लाएं
Comment[id]=Buat titik pemulihan dan kembalikan AnduinOS dengan aman ke kondisi sebelumnya
Comment[it]=Crea punti di ripristino e restituisci in modo sicuro AnduinOS a uno stato precedente
Comment[ja]=リカバリーポイントを作成し、AnduinOSを安全に以前の状態に戻します
Comment[ko]=복구 지점을 만들고 AnduinOS를 이전 상태로 안전하게 되돌립니다
Comment[nl]=Maak herstelpunten en breng AnduinOS veilig terug naar een eerdere staat
Comment[pl]=Tworzenie punktów odzyskiwania i bezpieczne przywracanie systemu AnduinOS do wcześniejszego stanu
Comment[pt]=Crie pontos de recuperação e restaure o AnduinOS para um estado anterior em segurança
Comment[pt_BR]=Crie pontos de recuperação e retorne com segurança ao AnduinOS para um estado anterior
Comment[ro]=Creați puncte de recuperare și reveniți în siguranță la o stare anterioară a AnduinOS
Comment[ru]=Создавайте точки восстановления и безопасно возвращайте AnduinOS к предыдущему состоянию
Comment[sv]=Skapa återställningspunkter och återskapa AnduinOS säkert till ett tidigare tillstånd
Comment[th]=สร้างจุดกู้คืนและนำ AnduinOS กลับสู่สถานะก่อนหน้าอย่างปลอดภัย
Comment[tr]=Geri alma noktaları oluşturun ve AnduinOS'ü güvenli bir şekilde daha önceki bir duruma geri döndürün
Comment[uk]=Створюйте точки відновлення та безпечно повертайте AnduinOS до попереднього стану
Comment[vi]=Tạo các điểm khôi phục và đưa AnduinOS trở lại trạng thái trước đó một cách an toàn
Comment[zh_HK]=建立還原點並安全地將 AnduinOS 恢復至較早的狀態
Comment[zh_TW]=建立還原點並安全地將 AnduinOS 恢復到較早的狀態
Comment[en_GB]=Create recovery points and safely return AnduinOS to an earlier state
Comment[en_US]=Create recovery points and safely return AnduinOS to an earlier state
Comment=Create recovery points and safely return AnduinOS to an earlier state
Comment[zh_CN]=创建恢复点并安全地将 AnduinOS 恢复到较早状态
Exec=anduinos-timeback-machine
Icon=com.anduinos.timebackmachine
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
Keywords[ar]=نسخ احتياطي؛ لقطة فورية؛ استعادة؛ استرداد؛ Btrfs؛ تراجع؛
Keywords[da]=backup;snapshot;gendan;gendannelse;btrfs;tilbage rulning;
Keywords[de]=Sicherung;Momentaufnahme;Wiederherstellung;Erholung;btrfs;Rückgängig machen;
Keywords[el]=αναπλήρωση;στιγμιότυπο;επαναφορά;κατάσταση επαναφοράς;btrfs;επιστροφή;
Keywords[es]=copia de seguridad;instantánea;restaurar;recuperación;btrfs;reversión;
Keywords[fi]=varmuuskopiointi;kuvakaappaus;palautus;palauttaminen;btrfs;takaisinvienti;
Keywords[fr]=sauvegarde;instantanée;restauration;récupération;btrfs;retour en arrière;
Keywords[hi]=बैकअप;स्नैपशॉट;रिस्टोर;रिकवरी;Btrfs;रोलबैक;
Keywords[id]=cadangan;instan;pulihkan;pemulihan;btrfs;kembalikan;
Keywords[it]=backup;istantanea;ripristino;recupero;btrfs;rollback;
Keywords[ja]=バックアップ;スナップショット;復元;リカバリ;btrfs;ロールバック;
Keywords[ko]=백업;스냅샷;복원;복구;btrfs;롤백;
Keywords[nl]=back-up;momentopname;herstellen;herstel;btrfs;terugdraaien;
Keywords[pl]=kopia zapasowa;snapshot;przywracanie;odzyskiwanie;btrfs;cofa
Keywords[pt]=cópia de segurança;instantâneo;restauração;recuperação;btrfs;reversão;
Keywords[pt_BR]=cópia de segurança;instantâneo;restaurar;recuperação;btrfs;reverter;
Keywords[ro]=copie de siguranță;instantaneu;restaurare;recuperare;btrfs;revocare;
Keywords[ru]=резервное копирование;мгновенный снимок;восстановление;восстановление данных;btrfs;откат;
Keywords[sv]=säkerhetskopiera;ögonblicksbild;återställ;återhämtning;btrfs;återgå till tidigare version;
Keywords[th]=สำรองข้อมูล;จับภาพสถานะ;กู้คืน;การกู้คืน;btrfs;ย้อนกลับ;
Keywords[tr]=yedekleme;anlık görüntü;geri yükleme;kurtarma;btrfs;geri alma;
Keywords[uk]=резервне копіювання;миттєвий знімок;відновлення;відновлення даних;btrfs;зворотне відкатування;
Keywords[vi]=sao lưu;tạo ảnh chụp;khôi phục;phục hồi;btrfs;hoàn tác;
Keywords[zh_HK]=備份；快照；還原；復原；btrfs；回滾；
Keywords[zh_TW]=備份；快照；還原；復原；btrfs；回滾；
Keywords[en_GB]=backup;snapshot;restore;recovery;btrfs;rollback;
Keywords[en_US]=backup;snapshot;restore;recovery;btrfs;rollback;
Keywords=backup;snapshot;restore;recovery;btrfs;rollback;
Keywords[zh_CN]=备份;快照;恢复;还原;btrfs;回滚;
StartupNotify=true
