<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>AnduinOS</vendor>
  <vendor_url>https://www.anduinos.com</vendor_url>

  <action id="com.anduinos.timebackmachine.create">
    <description>Create an AnduinOS snapshot</description>
    <description xml:lang="zh_CN">创建 AnduinOS 快照</description>
    <message>Authentication is required to create the selected snapshots</message>
    <message xml:lang="zh_CN">创建所选快照需要身份验证</message>
    <icon_name>com.anduinos.timebackmachine</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.anduinos.timebackmachine.manage">
    <description>Manage AnduinOS recovery points</description>
    <description xml:lang="zh_CN">管理 AnduinOS 恢复点</description>
    <message>Authentication is required to pin or delete recovery points</message>
    <message xml:lang="zh_CN">固定或删除恢复点需要身份验证</message>
    <icon_name>com.anduinos.timebackmachine</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.anduinos.timebackmachine.restore">
    <description>Restore an earlier AnduinOS system deployment</description>
    <description xml:lang="zh_CN">恢复较早的 AnduinOS 系统部署</description>
    <message>Authentication is required to schedule a system rollback</message>
    <message xml:lang="zh_CN">安排系统回滚需要身份验证</message>
    <icon_name>com.anduinos.timebackmachine</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.anduinos.timebackmachine.configure">
    <description>Configure AnduinOS recovery policy</description>
    <description xml:lang="zh_CN">配置 AnduinOS 恢复策略</description>
    <message>Authentication is required to change the recovery policy</message>
    <message xml:lang="zh_CN">更改恢复策略需要身份验证</message>
    <icon_name>com.anduinos.timebackmachine</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.anduinos.timebackmachine.browse">
    <description>Browse files in an AnduinOS snapshot</description>
    <description xml:lang="zh_CN">浏览 AnduinOS 快照中的文件</description>
    <message>Authentication is required to read files from a snapshot</message>
    <message xml:lang="zh_CN">读取快照中的文件需要身份验证</message>
    <icon_name>com.anduinos.timebackmachine</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
