[Desktop Entry]
Type=Application
Name=AnduinOS Welcome
Name[zh_CN]=AnduinOS 欢迎中心
GenericName=Welcome Center
GenericName[zh_CN]=欢迎中心
Comment=Explore and configure your AnduinOS system
Comment[zh_CN]=探索和配置您的 AnduinOS 系统
Icon=anduinos-oobe
Exec=anduinos-oobe
Categories=Settings;System;GTK;
Keywords=welcome;oobe;setup;tutorial;first-run;
Keywords[zh_CN]=欢迎;设置;教程;首次运行;welcome;oobe;setup;
Terminal=false
StartupNotify=true
StartupWMClass=com.anduinos.Oobe
