[Desktop Entry]
Type=Application
Name[ar]=إعداد نظام أندوين
Name[da]=AnduinOS Opsætning
Name[de]=AnduinOS-Einrichtung
Name[el]=Ρύθμιση του AnduinOS
Name[es]=Configuración de AnduinOS
Name[fi]=AnduinOS-asetukset
Name[fr]=Configuration d'AnduinOS
Name[hi]=एंडुइनओएस सेटअप
Name[id]=Penyiapan AnduinOS
Name[it]=Configurazione di AnduinOS
Name[ja]=AnduinOSセットアップ
Name[ko]=AnduinOS 설정
Name[nl]=AnduinOS-installatie
Name[pl]=Konfiguracja AnduinOS
Name[pt]=Configuração do AnduinOS
Name[pt_BR]=Configuração do AnduinOS
Name[ro]=Configurare AnduinOS
Name[ru]=Настройка AnduinOS
Name[sv]=AnduinOS-installation
Name[th]=การติดตั้ง AnduinOS
Name[tr]=AnduinOS Kurulumu
Name[uk]=Налаштування AnduinOS
Name[vi]=Cài đặt AnduinOS
Name[zh_HK]=AnduinOS 設定
Name[zh_TW]=AnduinOS 設定
Name=AnduinOS Setup
Name[zh_CN]=AnduinOS 初始设置
Comment[ar]=أكمل إعداد AnduinOS الخاص بك
Comment[da]=Afslut din AnduinOS-oprettelse
Comment[de]=Vervollständigen Sie Ihre AnduinOS-Einrichtung
Comment[el]=Ολοκληρώστε τη ρύθμιση του AnduinOS
Comment[es]=Completa la configuración de AnduinOS
Comment[fi]=Viimeittele AnduinOS:n määritys
Comment[fr]=Terminez la configuration d'AnduinOS
Comment[hi]=अंडुइनओएस सेटअप को पूरा करें
Comment[id]=Selesaikan pengaturan AnduinOS Anda
Comment[it]=Completa la configurazione di AnduinOS
Comment[ja]=AnduinOSのセットアップを完了してください
Comment[ko]=AnduinOS 설정을 완료하세요
Comment[nl]=Voltooi de installatie van AnduinOS
Comment[pl]=Ukończ konfigurację systemu AnduinOS
Comment[pt]=Complete a configuração do AnduinOS
Comment[pt_BR]=Complete a configuração do AnduinOS
Comment[ro]=Finalizați configurarea AnduinOS
Comment[ru]=Завершите настройку AnduinOS
Comment[sv]=Slutför din AnduinOS-installation
Comment[th]=ดำเนินการตั้งค่า AnduinOS ให้เสร็จสิ้น
Comment[tr]=AnduinOS kurulumunuzu tamamlayın
Comment[uk]=Завершіть налаштування AnduinOS
Comment[vi]=Hoàn tất thiết lập AnduinOS của bạn
Comment[zh_HK]=完成您的 AnduinOS 設定
Comment[zh_TW]=完成您的 AnduinOS 設定
Comment=Complete your AnduinOS setup
Comment[zh_CN]=完成您的 AnduinOS 初始设置
Icon=anduinos-oobe
Exec=anduinos-oobe --oobe
Categories=Settings;System;GTK;
Terminal=false
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
