[Desktop Entry]
Type=Application
Name=AnduinOS Setup
Name[zh_CN]=AnduinOS 初始设置
Comment=Complete your AnduinOS setup
Comment[zh_CN]=完成您的 AnduinOS 初始设置
Icon=anduinos-oobe
Exec=anduinos-oobe --oobe
Categories=Settings;System;GTK;
Terminal=false
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-HiddenUnderSystemd=true
