[Desktop Entry]
Type=Application
Name[ar]=مرحبًا بك في AnduinOS
Name[da]=AnduinOS Velkommen
Name[de]=AnduinOS Begrüßung
Name[el]=Καλώς ήρθατε στο AnduinOS
Name[es]=Bienvenido a AnduinOS
Name[fi]=AnduinOS Tervetuloa
Name[fr]=Bienvenue sur AnduinOS
Name[hi]=AnduinOS स्वागत
Name[id]=Selamat Datang di AnduinOS
Name[it]=Benvenuto in AnduinOS
Name[ja]=AnduinOS へようこそ
Name[ko]=AnduinOS 환영합니다
Name[nl]=AnduinOS Welkom
Name[pl]=AnduinOS Powitanie
Name[pt]=Bem-vindo ao AnduinOS
Name[pt_BR]=AnduinOS Bem-vindo
Name[ro]=Bine ai venit în AnduinOS
Name[ru]=Добро пожаловать в AnduinOS
Name[sv]=AnduinOS Välkommen
Name[th]=AnduinOS ยินดีต้อนรับ
Name[tr]=AnduinOS Hoş Geldiniz
Name[uk]=Вітаємо в AnduinOS
Name[vi]=Chào mừng đến với AnduinOS
Name[zh_HK]=AnduinOS 歡迎
Name[zh_TW]=AnduinOS 歡迎
Name=AnduinOS Welcome
Name[zh_CN]=AnduinOS 欢迎中心
GenericName[ar]=مركز الترحيب
GenericName[da]=Velkomstcenter
GenericName[de]=Willkommenszentrum
GenericName[el]=Κέντρο Εξυπηρέτησης
GenericName[es]=Centro de Bienvenida
GenericName[fi]=Tervetuloa -keskus
GenericName[fr]=Centre d'accueil
GenericName[hi]=स्वागत केंद्र
GenericName[id]=Pusat Sambutan
GenericName[it]=Centro di Benvenuto
GenericName[ja]=ウェルカムセンター
GenericName[ko]=환영 센터
GenericName[nl]=Welkomstcentrum
GenericName[pl]=Centrum powitalne
GenericName[pt]=Centro de Boas-Vindas
GenericName[pt_BR]=Central de Boas-vindas
GenericName[ro]=Centrul de Bine-venit
GenericName[ru]=Центр приветствия
GenericName[sv]=Välkomstcentrum
GenericName[th]=ศูนย์ต้อนรับ
GenericName[tr]=Hoş Geldiniz Merkezi
GenericName[uk]=Центр вітання
GenericName[vi]=Trung tâm Chào mừng
GenericName[zh_HK]=歡迎中心
GenericName[zh_TW]=歡迎中心
GenericName=Welcome Center
GenericName[zh_CN]=欢迎中心
Comment[ar]=استكشف واعدل نظام AnduinOS الخاص بك
Comment[da]=Udforsk og konfigurer dit AnduinOS-system
Comment[de]=Erkunden und konfigurieren Sie Ihr AnduinOS-System
Comment[el]=Εξερευνήστε και διαμορφώστε το σύστημα AnduinOS σας
Comment[es]=Explora y configura tu sistema AnduinOS
Comment[fi]=Tutki ja määritä AnduinOS-järjestelmääsi
Comment[fr]=Explorez et configurez votre système AnduinOS
Comment[hi]=अंडुइनओएस सिस्टम का अन्वेषण करें और उसे कॉन्फ़िगर करें
Comment[id]=Jelajahi dan konfigurasi sistem AnduinOS Anda
Comment[it]=Esplora e configura il tuo sistema AnduinOS
Comment[ja]=AnduinOS システムを探索して設定する
Comment[ko]=AnduinOS 시스템을 탐색하고 구성하세요
Comment[nl]=Verken en configureer uw AnduinOS-systeem
Comment[pl]=Przeglądaj i konfiguruj swój system AnduinOS
Comment[pt]=Explore e configure o seu sistema AnduinOS
Comment[pt_BR]=Explore e configure seu sistema AnduinOS
Comment[ro]=Exploră și configurează sistemul tău AnduinOS
Comment[ru]=Изучайте и настраивайте систему AnduinOS
Comment[sv]=Utforska och konfigurera ditt AnduinOS-system
Comment[th]=สำรวจและกำหนดค่าระบบ AnduinOS ของคุณ
Comment[tr]=AnduinOS sisteminizi keşfedin ve yapılandırın
Comment[uk]=Досліджуйте та налаштовуйте вашу систему AnduinOS
Comment[vi]=Khám phá và định cấu hình hệ thống AnduinOS của bạn
Comment[zh_HK]=探索及設定你嘅 AnduinOS 系統
Comment[zh_TW]=探索並設定您的 AnduinOS 系統
Comment=Explore and configure your AnduinOS system
Comment[zh_CN]=探索和配置您的 AnduinOS 系统
Icon=anduinos-oobe
Exec=anduinos-oobe
Categories=Settings;System;GTK;
Keywords[ar]=مرحبًا؛إعداد أولي؛إعداد؛دليل تعليمي؛تشغيل أول؛
Keywords[da]=velkommen;oobe;opsætning;vejledning;første-opstart;
Keywords[de]=Willkommen;Erstkonfiguration;Einrichtung;Tutorial;Erststart;
Keywords[el]=καλώς ήρθατε;oobe;ρύθμιση;οδηγός;πρώτη εκκίνηση;
Keywords[es]=bienvenido;configuración inicial;tutorial;primera ejecución;
Keywords[fi]=tervetuloa;oobe;asetukset;opas;ensimmäinen käynnistys;
Keywords[fr]=bienvenue;oobe;installation;tutoriel;première utilisation;
Keywords[hi]=स्वागत;ओओबीई;सेटअप;ट्यूटोरियल;पहली-रन;
Keywords[id]=selamat datang;pengaturan awal perangkat;penyiapan;tutorial;penggunaan pertama;
Keywords[it]=benvenuto;installazione iniziale;configurazione;tutorial;prima esecuzione;
Keywords[ja]=ようこそ;OOBE;セットアップ;チュートリアル;初回起動時;
Keywords[ko]=환영합니다;OOBE;설정;튜토리얼;처음 실행;
Keywords[nl]=welkom;oobe;installatie;handleiding;eerste keer
Keywords[pl]=witaj;konfiguracja początkowa;ustawienia;samouczek;pierwsze uruchomienie;
Keywords[pt]=bem-vindo;configuração inicial;instalação;tutorial;primeira execução;
Keywords[pt_BR]=bem-vindo;ooobe;configuração;tutorial;primeira-execução;
Keywords[ro]=bun venit;oobe;configurare;tutorial;pentru prima utilizare;
Keywords[ru]=приветствие;oobe;настройка;учебное пособие;первый запуск;
Keywords[sv]=välkommen;oob;installation;handledning;första-starten;
Keywords[th]=ยินดีต้อนรับ;เริ่มต้นใช้งานระบบ;การตั้งค่า;บทเรียน;การใช้งานครั้งแรก;
Keywords[tr]=hoşgeldin;yeni-kurulum;kurulum;öğretici;ilk-çalıştırma;
Keywords[uk]=witaj;oobe;konfiguracja;tutorial;pierwsze uruchomienie;
Keywords[vi]=chào mừng;khởi động ban đầu;cài đặt;hướng dẫn;sử dụng lần đầu;
Keywords[zh_HK]=歡迎；首次設定；安裝；教學；初次使用；
Keywords[zh_TW]=歡迎；新裝置設定；安裝；教學；首次使用；
Keywords=welcome;oobe;setup;tutorial;first-run;
Keywords[zh_CN]=欢迎;设置;教程;首次运行;welcome;oobe;setup;
Terminal=false
StartupNotify=true
StartupWMClass=com.anduinos.Oobe
