[Desktop Entry]
Type=Application
Name=Prepare and start AnduinOS Installer
Exec=/usr/lib/anduinos-installer-beta/create-live-shortcut
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
