[Desktop Entry]
Type=Application
Name=Create AnduinOS installer Live shortcut
Exec=/usr/lib/anduinos-installer-beta/create-live-shortcut
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true

