[Desktop Entry]
Type=Application
Name=Prepare and start AnduinOS Installer
Name[ar_SA]=تجهيز برنامج تثبيت AnduinOS وتشغيله
Name[da_DK]=Forbered og start AnduinOS-installationsprogrammet
Name[de_DE]=AnduinOS-Installer vorbereiten und starten
Name[el_GR]=Προετοιμασία και εκκίνηση του προγράμματος εγκατάστασης του AnduinOS
Name[en_GB]=Prepare and start AnduinOS Installer
Name[es_ES]=Preparar e iniciar el instalador de AnduinOS
Name[fi_FI]=Valmistele ja käynnistä AnduinOS-asentaja
Name[fr_FR]=Préparer et démarrer l’installateur AnduinOS
Name[hi_IN]=AnduinOS इंस्टॉलर तैयार करें और शुरू करें
Name[id_ID]=Siapkan dan jalankan Penginstal AnduinOS
Name[it_IT]=Prepara e avvia il programma di installazione di AnduinOS
Name[ja_JP]=AnduinOS インストーラーの準備と起動
Name[ko_KR]=AnduinOS 설치 관리자 준비 및 시작
Name[nl_NL]=AnduinOS-installatieprogramma voorbereiden en starten
Name[pl_PL]=Przygotuj i uruchom instalator AnduinOS
Name[pt_BR]=Preparar e iniciar o instalador do AnduinOS
Name[pt_PT]=Preparar e iniciar o instalador do AnduinOS
Name[ro_RO]=Pregătește și pornește Instalatorul AnduinOS
Name[ru_RU]=Подготовить и запустить установщик AnduinOS
Name[sv_SE]=Förbered och starta AnduinOS-installatören
Name[th_TH]=เตรียมและเริ่มโปรแกรมติดตั้ง AnduinOS
Name[tr_TR]=AnduinOS Kurulumunu hazırla ve başlat
Name[uk_UA]=Підготувати та запустити встановлювач AnduinOS
Name[vi_VN]=Chuẩn bị và khởi động trình cài đặt AnduinOS
Name[zh_CN]=准备并启动 AnduinOS 安装程序
Name[zh_HK]=準備並啟動 AnduinOS 安裝程式
Name[zh_TW]=準備並啟動 AnduinOS 安裝程式
Exec=/usr/lib/anduinos-installer-beta/create-live-shortcut
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
