[Desktop Entry]
Name[ar]=مثبت AnduinOS (تجريبي)
Name[da]=AnduinOS-installationsprogram (beta)
Name[de]=AnduinOS-Installer (Beta)
Name[el]=Εγκαταστάτης AnduinOS (Βήτα)
Name[es]=Instalador de AnduinOS (Beta)
Name[fi]=AnduinOS-asennusohjelma (beta)
Name[fr]=Installateur AnduinOS (Bêta)
Name[hi]=AnduinOS इंस्टॉलर (बीटा)
Name[id]=Pemasang AnduinOS (Beta)
Name[it]=Installatore di AnduinOS (Beta)
Name[ja]=AnduinOS インストーラー（ベータ版）
Name[ko]=AnduinOS 설치 프로그램 (베타)
Name[nl]=AnduinOS-installatieprogramma (Bèta)
Name[pl]=Instalator AnduinOS (Beta)
Name[pt]=Instalador do AnduinOS (Beta)
Name[pt_BR]=Instalador do AnduinOS (Beta)
Name[ro]=AnduinOS Installer (Beta)
Name[ru]=Установщик AnduinOS (Бета-версия)
Name[sv]=AnduinOS Installationsprogram (Beta)
Name[th]=โปรแกรมติดตั้ง AnduinOS (เบต้า)
Name[tr]=AnduinOS Yükleyici (Beta)
Name[uk]=Інсталятор AnduinOS (Бета-версія)
Name[vi]=Trình cài đặt AnduinOS (Beta)
Name[zh_CN]=AnduinOS 安装程序（测试版）
Name[zh_HK]=AnduinOS 安裝程式（Beta）
Name[zh_TW]=AnduinOS 安裝程式（測試版）
Name=AnduinOS Installer (Beta)
Comment[ar]=قم بتثبيت AnduinOS على جهاز الكمبيوتر الخاص بك
Comment[da]=Installer AnduinOS på din computer
Comment[de]=Installiere AnduinOS auf deinem Computer
Comment[el]=Εγκαταστήστε το AnduinOS στον υπολογιστή σας
Comment[es]=Instalar AnduinOS en tu computadora
Comment[fi]=Asenna AnduinOS tietokoneeseesi
Comment[fr]=Installer AnduinOS sur votre ordinateur
Comment[hi]=अंडीनओएस को अपने कंप्यूटर में इंस्टॉल करें
Comment[id]=Instal AnduinOS ke komputer Anda
Comment[it]=Installa AnduinOS sul tuo computer
Comment[ja]=AnduinOSをコンピューターにインストールする
Comment[ko]=컴퓨터에 AnduinOS 설치하기
Comment[nl]=Installeer AnduinOS op uw computer
Comment[pl]=Zainstaluj AnduinOS na swoim komputerze
Comment[pt]=Instale o AnduinOS no seu computador
Comment[pt_BR]=Instale o AnduinOS no seu computador
Comment[ro]=Instalează AnduinOS pe calculatorul tău
Comment[ru]=Установите AnduinOS на ваш компьютер
Comment[sv]=Installera AnduinOS på din dator
Comment[th]=ติดตั้ง AnduinOS ลงในคอมพิวเตอร์ของคุณ
Comment[tr]=AnduinOS'u bilgisayarınıza yükleyin
Comment[uk]=Встановіть AnduinOS на ваш комп'ютер
Comment[vi]=Cài đặt AnduinOS vào máy tính của bạn
Comment[zh_CN]=将 AnduinOS 安装到您的计算机
Comment[zh_HK]=將 AnduinOS 安裝至您的電腦
Comment[zh_TW]=將 AnduinOS 安裝到您的電腦
Comment=Install AnduinOS to your computer
Exec=/usr/bin/anduinos-installer-beta
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
