[Desktop Entry]
Name[ar]=مثبت AnduinOS
Name[da]=AnduinOS-installationsprogram
Name[de]=AnduinOS-Installer
Name[el]=Εγκαταστάτης AnduinOS
Name[en_GB]=AnduinOS Installer
Name[en_US]=AnduinOS Installer
Name[es]=Instalador de AnduinOS
Name[fi]=AnduinOS-asennusohjelma
Name[fr]=Installateur AnduinOS
Name[hi]=AnduinOS इंस्टॉलर
Name[id]=Pemasang AnduinOS
Name[it]=Installatore di AnduinOS
Name[ja]=AnduinOS インストーラー
Name[ko]=AnduinOS 설치 프로그램
Name[nl]=AnduinOS-installatieprogramma
Name[pl]=Instalator AnduinOS
Name[pt]=Instalador do AnduinOS
Name[pt_BR]=Instalador do AnduinOS
Name[ro]=AnduinOS Installer
Name[ru]=Установщик AnduinOS
Name[sv]=AnduinOS Installationsprogram
Name[th]=โปรแกรมติดตั้ง AnduinOS
Name[tr]=AnduinOS Yükleyici
Name[uk]=Інсталятор AnduinOS
Name[vi]=Trình cài đặt AnduinOS
Name[zh_CN]=AnduinOS 安装程序
Name[zh_HK]=AnduinOS 安裝程式
Name[zh_TW]=AnduinOS 安裝程式
Name=AnduinOS Installer
Comment[ar]=قم بتثبيت AnduinOS على جهاز الكمبيوتر الخاص بك
Comment[da]=Installer AnduinOS på din computer
Comment[de]=Installiere AnduinOS auf deinem Computer
Comment[el]=Εγκαταστήστε το AnduinOS στον υπολογιστή σας
Comment[en_GB]=Install AnduinOS on your computer
Comment[en_US]=Install AnduinOS on your computer
Comment[es]=Instalar AnduinOS en tu computadora
Comment[fi]=Asenna AnduinOS tietokoneeseesi
Comment[fr]=Installer AnduinOS sur votre ordinateur
Comment[hi]=अंडीनओएस को अपने कंप्यूटर में इंस्टॉल करें
Comment[id]=Instal AnduinOS ke komputer Anda
Comment[it]=Installa AnduinOS sul tuo computer
Comment[ja]=AnduinOSをコンピューターにインストールする
Comment[ko]=컴퓨터에 AnduinOS 설치하기
Comment[nl]=Installeer AnduinOS op uw computer
Comment[pl]=Zainstaluj AnduinOS na swoim komputerze
Comment[pt]=Instale o AnduinOS no seu computador
Comment[pt_BR]=Instale o AnduinOS no seu computador
Comment[ro]=Instalează AnduinOS pe calculatorul tău
Comment[ru]=Установите AnduinOS на ваш компьютер
Comment[sv]=Installera AnduinOS på din dator
Comment[th]=ติดตั้ง AnduinOS ลงในคอมพิวเตอร์ของคุณ
Comment[tr]=AnduinOS'u bilgisayarınıza yükleyin
Comment[uk]=Встановіть AnduinOS на ваш комп'ютер
Comment[vi]=Cài đặt AnduinOS vào máy tính của bạn
Comment[zh_CN]=将 AnduinOS 安装到您的计算机
Comment[zh_HK]=將 AnduinOS 安裝至您的電腦
Comment[zh_TW]=將 AnduinOS 安裝到您的電腦
Comment=Install AnduinOS to your computer
Exec=/usr/bin/anduinos-installer-beta
Icon=anduinos-installer-beta
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
StartupWMClass=com.anduinos.InstallerBeta
