[Desktop Entry]
Name=AnduinOS Installer (Beta)
Comment=Install AnduinOS to your computer
Exec=/usr/bin/anduinos-installer-beta
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
