[Desktop Entry]
Type=Application
Name=AnduinOS Executable Runner
Name[zh_CN]=AnduinOS Windows 程序运行器
Comment=Run Windows executables seamlessly via Bottles
Exec=/usr/bin/anduinos-exe-runner %f
Icon=wine
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-executable;
NoDisplay=true
Terminal=false
