[Desktop Entry]
Type=Application
Name[ar_SA]=إعداد اختصار سطح مكتب لمركز إنقاذ AnduinOS
Name[da_DK]=Forbered genvej til AnduinOS' redningscenter på skrivebordet
Name[de_DE]=Desktop-Verknüpfung für AnduinOS Rettungscenter erstellen
Name[el_GR]=Προετοιμασία συντόμευσης επιφάνειας εργασίας για το Κέντρο αποκατάστασης AnduinOS
Name[en_GB]=Prepare AnduinOS Rescue Center desktop shortcut
Name[es_ES]=Preparar acceso directo del Centro de rescate de AnduinOS en el escritorio
Name[fi_FI]=Valmistele AnduinOSin palautuskeskuksen työpöytäpikakuvake
Name[fr_FR]=Préparer le raccourci du bureau du Centre de récupération AnduinOS
Name[hi_IN]=AnduinOS बचाव केंद्र का डेस्कटॉप शॉर्टकट तैयार करें
Name[id_ID]=Siapkan pintasan desktop Pusat Pemulihan AnduinOS
Name[it_IT]=Prepara il collegamento sul desktop del Centro di ripristino di AnduinOS
Name[ja_JP]=AnduinOS レスキューセンターのデスクトップショートカットを準備
Name[ko_KR]=AnduinOS 복구 센터 데스크톱 바로 가기 준비
Name[nl_NL]=Snelkoppeling naar het bureaublad voor AnduinOS-herstelcentrum voorbereiden
Name[pl_PL]=Przygotuj skrót do Centrum odzyskiwania AnduinOS na pulpicie
Name[pt_PT]=Preparar atalho do Centro de Recuperação do AnduinOS no ambiente de trabalho
Name[pt_BR]=Preparar atalho do Centro de Recuperação do AnduinOS na área de trabalho
Name[ro_RO]=Pregătiți comanda rapidă de pe desktop pentru Centrul de recuperare AnduinOS
Name[ru_RU]=Подготовить ярлык Центра восстановления AnduinOS на рабочем столе
Name[sv_SE]=Förbered skrivbordsgenväg till AnduinOS återställningscenter
Name[th_TH]=เตรียมทางลัดบนเดสก์ท็อปสำหรับศูนย์กู้คืน AnduinOS
Name[tr_TR]=AnduinOS Kurtarma Merkezi masaüstü kısayolunu hazırla
Name[uk_UA]=Підготувати ярлик Центру відновлення AnduinOS на робочому столі
Name[vi_VN]=Tạo lối tắt trên màn hình cho Trung tâm cứu hộ AnduinOS
Name[zh_CN]=准备 AnduinOS 救援中心桌面快捷方式
Name[zh_HK]=準備 AnduinOS 救援中心桌面捷徑
Name[zh_TW]=準備 AnduinOS 救援中心桌面捷徑
Name=Prepare AnduinOS Rescue Center desktop shortcut
Exec=/usr/lib/anduinos-rescue-center/create-live-shortcut
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
