[Desktop Entry]
Type=Application
Name=Prepare AnduinOS Rescue Center desktop shortcut
Exec=/usr/lib/anduinos-rescue-center/create-live-shortcut
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
