[Desktop Entry]
Type=Application
Name=AnduinOS Waypoint Notifications
Name[zh_CN]=AnduinOS Waypoint 通知
Comment=Show automatic recovery notifications
Comment[zh_CN]=显示自动恢复通知
Exec=/usr/libexec/anduinos-waypoint-notifier
Icon=org.anduinos.Waypoint
Terminal=false
NoDisplay=true
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
