polkit.addRule(function(action, subject) {
    if (subject.user == "root" &&
        action.id.indexOf("org.anduinos.btrfs-snapshots-manager.") == 0) {
        return polkit.Result.YES;
    }
});

