[Unit]
Description=Run Disk Snapshots Manager automatic snapshots hourly
Documentation=file:/usr/share/doc/anduinos-btrfs-snapshots-manager/README.md

[Timer]
OnBootSec=2min
OnCalendar=hourly
Persistent=true
AccuracySec=1min
Unit=anduinos-btrfs-snapshots-manager-scheduler.service

[Install]
WantedBy=timers.target
