[Desktop Entry]
Name[ar_SA]=مدير لقطات القرص الفورية
Name[da_DK]=Disk Snapshots Manager
Name[de_DE]=Verwaltung von Datenträgersnapshots
Name[el_GR]=Διαχείριση Στιγμιότυπων Δίσκου
Name[en_GB]=Disk Snapshots Manager
Name[es_ES]=Administrador de instantáneas de disco
Name[fi_FI]=Tilannekuvien hallinta
Name[fr_FR]=Gestionnaire d'instantanés de disque
Name[hi_IN]=डिस्क स्नैपशॉट मैनेजर
Name[id_ID]=Manajer Snapshot Disk
Name[it_IT]=Gestore delle istantanee del disco
Name[ja_JP]=ディスクスナップショットマネージャー
Name[ko_KR]=디스크 스냅샷 관리자
Name[nl_NL]=Beheer van schijfmomentopnamen
Name[pl_PL]=Menedżer migawek dysku
Name[pt_BR]=Gerenciador de Instantâneos de Disco
Name[pt_PT]=Gestor de Capturas de Estado do Disco
Name[ro_RO]=Managerul de instantanee de disc
Name[ru_RU]=Диспетчер снимков дисков
Name[sv_SE]=Hanterare för diskögonblicksbilder
Name[th_TH]=โปรแกรมจัดการสแนปชอตดิสก์
Name[tr_TR]=Disk Anlık Görüntüleri Yöneticisi
Name[uk_UA]=Керування знімками стану диска
Name[vi_VN]=Trình quản lý ảnh chụp đĩa
Name[zh_CN]=磁盘快照管理器
Name[zh_HK]=磁碟快照管理員
Name[zh_TW]=磁碟快照管理員
Name=Disk Snapshots Manager
GenericName=System Recovery and File History
GenericName[zh_CN]=系统恢复与文件历史
Comment=Recover AnduinOS and restore deleted Personal Files
Comment[zh_CN]=恢复 AnduinOS 并找回误删的个人文件
Exec=anduinos-btrfs-snapshots-manager
Icon=org.anduinos.BtrfsSnapshotsManager
Terminal=false
Type=Application
NoDisplay=true
DBusActivatable=true
Categories=GNOME;GTK;System;
Keywords=snapshot;snapshots;restore;recovery;btrfs;rollback;backup;backups;time machine;file history;deleted files;
Keywords[zh_CN]=快照;备份;还原;恢复;回滚;系统恢复;文件恢复;个人文件;文件历史;误删文件;btrfs;snapshot;restore;recovery;backup;
StartupNotify=true
