[D-BUS Service]
Name=org.anduinos.BtrfsSnapshotsManager
Exec=/usr/libexec/anduinos-btrfs-snapshots-manager-helper
User=root
SystemdService=anduinos-btrfs-snapshots-manager-helper.service
